* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}
*, *::after, * ::before {
    box-sizing: border-box;
}
/* Hero Section */
.hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    border-radius: 0 0 30px 30px;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.cta-button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #FFBD92, #FF916D);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero img {
    margin: 10px 0;
}

/* Navigation */
header {
    background-color: #ECE6DE;
    color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color:#ECE6DE;
    padding: 10px 0;
}

nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Main Content */
main {
    padding: 50px 20px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.section img {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.section-content {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #f3a25e;
    border-radius: 0 20px 20px 0;
}

.section-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.section-content ul,
.section-content ol {
    margin-left: 10px;
}

.section-content ul li,
.section-content ol li {
    padding: 5px 0;
    font-size: 1.1rem;
}

.section-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.section-content table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ddd;
    color: #000;
}

.section-content button {
    background-color: ##ff822e;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.section-content button:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.teacher-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
/* Секція входу */
.login-section {
    background-color: #fff;
    padding: 40px;
    margin: 30px auto;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.login-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
}

.login-section button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #FFBD92, #FF916D);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-section button:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Стиль кнопки "Увійти" в навігації */
.login-button {
    background: linear-gradient(135deg, #FFBD92, #FF916D);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
}

.login-button:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.teacher {
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #ECE6DE, #D8CEC2, #cdc4b9);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.teacher img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teacher h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.teacher p {
    font-size: 0.9rem;
    margin: 5px 0;
}

input, select, textarea {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="email"], input[type="time"] {
    margin-top: 10px;
}

input[type="submit"], button[type="submit"] {
    border-radius: 25px;
    background: linear-gradient(135deg, #FFBD92, #FF916D);
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C); 
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Test Section */
.test-section {
    text-align: center;
    background: linear-gradient(135deg, #FFBD92, #FF916D); /* Легкий градієнт */
    padding: 40px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.test-section button {
    padding: 15px 30px;
    background-color: #fff;
    color: #FF8F44;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.test-section button:hover {
    background: linear-gradient(135deg, #FF916D, #FF7052, #FF4A3C);
    
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

footer {
    background-color: #ECE6DE;
    color: #000;
    text-align: center;
    padding: 15px 10px; 
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

footer p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    max-width: 90%; 
}

footer img {
    max-width: 150px; 
    height: auto; 
    margin: 10px 0; 
}

@media (max-width: 500px) {
    .hero img {
        width: 438px;
        height: 247px;
        right: -50px;
        top: 363px;
    }
    
}
